@font-face {
    font-family: Yerk;
    src: url("../fonts/Yerk-Regular.woff2") format("woff2");
}

:root {
    --clr-primary: #f4f3ee;
    --clr-secondary: #F99600;
    --clr-tertiary: #333533;
  
    --clr-text: #f0f1f8;

    --ff-header: "Yerk", serif;
}

*{
    margin: 0;
}

body{
    background-color: var(--clr-primary);
    font-family: 'Roboto', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
    font-size: 1.3125rem;
    color: var(--clr-tertiary);
}

input{
    border-radius: .25rem;
    border: 1px solid var(--clr-tertiary);
}

label{
    margin-bottom: 1rem;
}

input[type=submit], button{
    background-color :var(--clr-secondary);
    color: var(--clr-text);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.5rem;
    border-width: .25rem;
    border-color: var(--clr-tertiary);
    min-width: 1rem 2rem;
}

textarea{
    min-width: 15rem;
    min-height: 4rem;
}

input[type=submit].noteSave{
    background-color : #03C04A;
    color: var(--clr-text);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.5rem;
}


.header{
    padding: 1rem;
    font-family: var(--ff-header);
    background-color: var(--clr-secondary);
    color: var(--clr-text);
}

.header sup{
    font-size: 1rem;
}

.content h2{
    text-align: center;
    margin-bottom: 1.3125rem;
}

.text-1{
    padding: 1rem;
    text-align: center;
}

.text-1-content{
    margin-top: 1rem;
}

.text-1-content a{
    padding: 0 1rem;
}

.text-1-content a:hover{
    text-decoration: underline;
}

.content{
    margin: 1rem;
}

.content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainmenu{
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
}

.notepadimage{
    height: 15rem;
}

#usr-notes{
    margin-top: 1rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

